/* reset */
*{margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
  font-family: Arial, Helvetica, sans-serif;
}
img{
  max-width: 100%;
}

/*container-header */
.container-header{
display: flex;
width: 100%;
justify-content:center ;
padding: 1em;
}



.header:last-child{

  height:86px;
  line-height: 86px;
text-align: center;
padding:0 0.8em ;
font-size: 1.5em;
color: #0087cc;
}
.bloc figcaption{
  color: #0087cc;
  font-size: 0.65em;
  line-height: 2em;
  text-align: left;
}
.container a{
  color: #0087cc;
  text-decoration: none;
  font-weight: bold;



}
.container li{
  text-align:left;
}




/*---------------*/
/*menu*/
.main-menu{
  background-color: #0087cc;
  height: 2.5em;
}

.main-menu ul{
  width: 85%;
  list-style-type: none;
  text-align: right;
  padding: 0.6em ;

  margin: 0 auto;


}

.flex-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;


}
.flex-item a{
  text-decoration: none;
  padding: 0 0.5em;
  color: #fff;
}
.flex-item a:hover{
  color: #ddd;
}






/*------------------*/

.container{
  width:85%;
 /* border: 1px solid black;*/
  display: flex;
  justify-content:space-evenly ;
  list-style-type: none;
  padding: 1em;
  margin: 2em auto;
flex-flow: row;
}
.space-bet{
  justify-content: center;
}
.bloc {
	flex: 0 1 180px;

	text-align:center;
	padding:0 0 1em 0;

	margin: 0.5em 0.5em;
}
.bloc h5{
  color:  #929292;
  padding: 0.5em 0;
}
.bloc-image {
	display:block;
  width:100%;
  padding: 1em 0;
}
.bloc p{
  color: #555;
  font-size: 0.6em;
  line-height: 2em;
}
.bigger{
  flex-basis: 100%;
}
.bloc a:hover{
  color: #ff7b29;

}
/* footer */
.footer{


  text-align: center;
}
.footer a{
  display: block;
font-size:1em;
color: #0087cc;
  text-decoration: none;

font-weight: bold;


}
.footer p{
  color: #555;
  font-size: 0.6em ;
}
.container-footer{

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0.6em;
}
.footer ul{
  list-style-type: none;
}
.flex-footer a{
  padding: 0.1em;
}


